 <div class="alert alert-danger" id="error" ng-cloak ng-show="errors">
        <h4 ng-show="errors.length > 1">The following errors were found</h4>
        <h4 ng-show="errors.length === 1">The following error was found</h4>
        <ul ng-repeat="error in errors">
            <li class="ng-cloak" >{{error}}</li>
        </ul>
 </div>