<section data-ng-controller="HomeController"  >
	<div class="jumbotron text-center">
		<!-- <h1>ISKCON Temple Management System</h1>
		<h2>for {{temple.name}}</h2> -->

		<br>
		<div class="row">
			
				<img alt="Prabhupada" class="img-responsive center-block" src="modules/core/img/brand/prabhupada.jpg" />
			
		</div>
	</div>
	
</section>