<section data-ng-controller="HomeController" data-ng-init="findTemples()">
	<div class="jumbotron text-center">
		<!-- <h1>ISKCON Temple Management System </h1> -->
		
		<div  ng-if="!authentication.user" class="row">
			<div class="btn-group" dropdown >
				<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">Select Your Temple <span class="caret"></span>
				</button>
				<ul class="dropdown-menu ng-cloak" role="menu"  >
					<li class="ng-cloak" ng-repeat="temple in temples"><a data-ng-href="#!/t/{{temple.pathname}}/home">{{temple.name}}</a></li>
				</ul>


			</div>
		</div>
				
		<br>
		<div class="row">
			
				<img alt="Prabhupada" class="img-responsive center-block" src="modules/core/img/brand/prabhupada.jpg" />
			
		</div>
	</div>
	
</section>