 <accordion-group heading="General Details" is-open="true">
      
                <fieldset>
                    <div class="form-group" ng-class="{'has-error':form.firstName.$invalid}" >
                        <label class="control-label col-xs-2" for="firstName">First Name</label>
                        <div class="controls col-xs-10">
                            <p class="input-group">
                            <input type="text" required data-ng-model="person.name.firstName" id="firstName" class="form-control" placeholder="John" name="firstName" >
                            <span class="input-group-btn" >
                                <button type="button" class="btn disabled" tabindex="-1"><i class="glyphicon glyphicon-star" ></i></button>
                            </span>
                            </p>
                            
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.lastName.$invalid}">
                        <label class="control-label col-xs-2" for="lastname">Last Name</label>
                        <div class="col-xs-10">
                            <p class="input-group">
                            <input type="text" data-ng-model="person.name.lastName" id="lastName" class="form-control" placeholder="Doe" required name="lastName">
                            <span class="input-group-btn">
                                <button type="button" class="btn disabled" tabindex="-1"><i class="glyphicon glyphicon-star" ></i></button>
                            </span>
                            </p>
                           
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.email.$invalid}">
                        <label class="control-label col-xs-2" for="email">Email</label>
                        <div class="col-xs-10">
                        <p class="input-group">
                             <input type="email" name="email" data-ng-model="person.email" id="email" class="form-control" placeholder="person@pamho.net" required>
                             <span class="input-group-btn">
                                <button type="button" class="btn disabled" tabindex="-1"><i class="glyphicon glyphicon-star"></i></button>
                            </span>
                        </p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.mobileNumber.$invalid}">
                        <label class="control-label col-xs-2" for="mobileNumber">Mobile Number</label>
                        <div class="col-xs-10">
                            <input type="text" name="mobileNumber" data-ng-model="person.mobileNumber" id="mobileNumber" class="form-control" placeholder="0821081080" 
                            ng-pattern="/^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$|\A\Z/">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.workNumber.$invalid}">
                        <label class="control-label col-xs-2" for="workNumber">Work Number</label>
                        <div class="col-xs-10">
                            <input type="text" name="workNumber" data-ng-model="person.workNumber" id="workNumber" class="form-control" placeholder="0111081080" 
                            ng-pattern="/^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$|\A\Z/">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.homeNumber.$invalid}">
                        <label class="control-label col-xs-2" for="homeNumber">Home Number</label>
                        <div class="col-xs-10">
                            <input type="text" name="homeNumber" data-ng-model="person.homeNumber" id="homeNumber" class="form-control" placeholder="0111081080" ng-pattern="/^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$|\A\Z/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="homeAddress">Home Address</label>
                        <div class="col-xs-10">
                        <input type="text" data-ng-model="person.homeAddress.numberBuilding" id="homeAddress.numberBuilding" class="form-control" placeholder="Number and/or Building Name">
                        <ui-select ng-model="person.homeAddress" id="homeAddress" address-converter>
                        <ui-select-match placeholder="Street address...">{{$select.selected.formatted_address}}</ui-select-match>
                        <ui-select-choices repeat="address in addresses track by $index"
                                 refresh="refreshAddresses($select.search)"
                                 refresh-delay="100">
                          <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="workAddress">Work Address</label>
                        <div class="col-xs-10">
                            <input type="text" data-ng-model="person.workAddress.numberBuilding" id="workAddress.numberBuilding" class="form-control" placeholder="Number and/or Building Name">
                            <ui-select ng-model="person.workAddress" id="workAddress" address-converter>
                            <ui-select-match placeholder="Street address...">{{$select.selected.formatted_address}}</ui-select-match>
                            <ui-select-choices repeat="address in addresses track by $index"
                                 refresh="refreshAddresses($select.search)"
                                 refresh-delay="100">
                            <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                            </ui-select-choices>
                      </ui-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-2" for="postalAddress">Postal Address</label>
                        <div class="col-xs-10">
                            <input type="text" data-ng-model="person.postalAddress.line1" id="postalAddress.line1" class="form-control" placeholder="Postal Adress" >
                            <input type="text" data-ng-model="person.postalAddress.line2" id="postalAddress.line2" class="form-control"  >
                            <input type="text" data-ng-model="person.postalAddress.suburb" id="postalAddress.suburb" class="form-control"  >
                            <input type="text" data-ng-model="person.postalAddress.postcode" id="postalAddress.postcode" class="form-control" placeholder="Postcode" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="sex">Sex</label>
                        <div class="col-xs-10">
                            <label class="checkbox-inline"><input type="radio" data-ng-model="person.sex" id="sex" class="form-control" value="Male" checked>&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;</label>
                            <label class="checkbox-inline"><input type="radio" data-ng-model="person.sex" id="sex" class="form-control" value="Female" >Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="race">Race</label>
                        <div class="col-xs-10">
                            <select class="form-control" data-ng-model="person.race" id="race" >
                                <option>Indian</option>
                                <option>Black</option>
                                <option>White</option>
                                <option>Coloured</option>
                                <option>Oriental</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="occupation">Occupation</label>
                        <div class="col-xs-10">
                            <input type="text" data-ng-model="person.occupation" id="occupation" class="form-control" placeholder="Occupation" >
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':form.birthday.$invalid}">
                        <label class="control-label col-xs-2" for="birthday">Birthday</label>
                        <div class="col-xs-10">
                            <p class="input-group">
                               <input type="text" name="birthday" id="birthday"class="form-control"  datepicker-popup="dd/MM/yyyy" ng-model="person.birthday" is-open="datePickers.birthday.open" min-date="'1900-01-01'" placeholder="dd/MM/yyyy" datepicker-append-to-body="true" show-button-bar="false" bs-datefield="DD/MM/YYYY" bs-date-pattern="{{datePickers.regex.toString()}}" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDate($event,'birthday')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </fieldset>
            </accordion-group>
            <accordion-group heading="Donor" id="donor">
                <fieldset>
                    <div class="form-group" ng-class="{ 'has-error': form.donorAmount.$invalid }">
                        <label class="control-label col-xs-2" for="amount">Amount</label>
                        <div class="controls col-xs-10">
                            <input type="text" name="donorAmount" data-ng-model="person.donor.amount" id="amount" class="form-control"  placeholder="0000" ng-pattern="/^\d+(?:\.\d{0,2})?$|\A\Z/">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-xs-2" for="period">Period</label>
                        <div class="col-xs-10">
                            <select class="form-control" data-ng-model="person.donor.period" id="period" value="Monthly">
                                <option>Monthly</option>
                                <option>Irregular</option>
                                <option>Annually</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.dayOfMonth.$invalid }">
                        <label class="control-label col-xs-2" for="dayOfMonth">Day of Month</label>
                        <div class="col-xs-10">
                            <input type="number" name="dayOfMonth" data-ng-model="person.donor.dayOfMonth" id="dayOfMonth" class="form-control" placeholder="01" min="1" max="30" >
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.annualIncrease.$invalid }">
                        <label class="control-label col-xs-2" for="annualIncrease">Annual Increase(%)</label>
                        <div class="col-xs-10">
                            <input type="number" name="annualIncrease" data-ng-model="person.donor.annualIncrease" id="annualIncrease" class="form-control" placeholder="0" 
                                min="0" max="25">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="bank">Bank</label>
                        <div class="col-xs-10">
                            <input type="text" data-ng-model="person.donor.bank" id="bank" class="form-control" placeholder="Standard Bank" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="accountName">Account Name</label>
                        <div class="col-xs-10">
                            <input type="text" data-ng-model="person.donor.accountName" id="accountName" class="form-control" placeholder="John Doe" >
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.accountNumber.$invalid }">
                        <label class="control-label col-xs-2" for="accountNumber">Account Number</label>
                        <div class="col-xs-10">
                            <input type="text" name="accountNumber" data-ng-model="person.donor.accountNumber" id="accountNumber" class="form-control" placeholder="123456" ng-pattern="/^[0-9 -]{6,15}$|\A\Z/" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="btgDeliveryMethod">BTG Delivery Method</label>
                        <div class="col-xs-10">
                            <select class="form-control" data-ng-model="person.donor.btgDeliveryMethod" id="btgDeliveryMethod" >
                                <option>No BTG</option>
                                <option>Post</option>
                                <option>Fetch</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </accordion-group>
            <accordion-group heading="Contact" id="contact">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="spiritualBackground">Spiritual Background</label>
                        <div class="col-xs-10">
                            <select class="form-control" data-ng-model="person.contact.spiritualBackground" id="spiritualBackground" >
                                <option>Hindu</option>
                                <option>Muslim</option>
                                <option>Christian</option>
                                <option>Athiest</option>
                                <option>Impersonalist</option>
                                <option>New Age</option>
                                <option>Jew</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="relationshipManager">Relationship Manager</label>
                        <div class="col-xs-10">
                            <ui-select ng-model="person.contact.relationshipManager" id="relationshipManager">
                                <ui-select-match placeholder="Select devotee...">{{$select.selected.displayName}}</ui-select-match>
                                <ui-select-choices repeat="devotee._id as devotee in devotees | filter: $select.search" ng-init="findDevotees()">
                                <div ng-bind-html="devotee.displayName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>

                           
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.lastContactDate.$invalid }">
                        <label class="control-label col-xs-2" for="lastContactDate">Last Contact Date</label>
                        <div class="col-xs-10">
                            <p class="input-group">
                                <input type="text" name="lastContactDate" id="lastContactDate" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="person.contact.lastContactDate" is-open="datePickers.lastContact.open" min-date="'2000-01-01'" max-date="datePickers.lastContact.maxDate"  placeholder="dd/MM/yyyy" datepicker-append-to-body="true" bs-datefield="DD/MM/YYYY" bs-date-pattern="{{datePickers.regex.toString()}}"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDate($event,'lastContact')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="favourablity">Favourablity</label>
                        <div class="col-xs-10">
                            <select class="form-control" data-ng-model="person.contact.favourablity" id="favourablity" >
                                <option>Offensive</option>
                                <option>Fryed</option>
                                <option>Neutral</option>
                                <option>Favourable</option>
                                <option>Reading or Chanting</option>
                                <option>Visiting</option>
                                <option>Seva</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </accordion-group> 
            <accordion-group heading="Devotee" id="devotee">
                <fieldset>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="initiatedName">Initiated Name</label>
                    <div class="col-xs-10">
                       <input type="text" data-ng-model="person.devotee.initiatedName" id="initiatedName" class="form-control" placeholder="Das" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="initiatedLevel">Initiated Level</label>
                    <div class="col-xs-10">
                        <select class="form-control" data-ng-model="person.devotee.initiatedLevel.text" id="initiatedLevel" >
                            <option>New</option>
                            <option>16 Rounds</option>
                            <option>First</option>
                            <option>Second</option>
                            <option>Sannyasi / Guru</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': form.lastContactDate.$invalid }">
                    <label class="control-label col-xs-2" for="yearJoined">Year Joined</label>
                    <div class="col-xs-10">
                       <input type="number" data-ng-model="person.devotee.yearJoined" id="yearJoined" class="form-control" placeholder="2000" 
                       min="1965" max="3000">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="attendance">Attendance</label>
                    <div class="col-xs-10">
                        <select class="form-control" data-ng-model="person.devotee.attendance" id="attendance" >
                            <option>Daily</option>
                            <option>BiTriWeekly</option>
                            <option>Weekly</option>
                            <option>Monthly</option>
                            <option>Events</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="participation">Participation</label>
                    <div class="col-xs-10">
                       
                       <ui-select multiple ng-model="person.devotee.participation" tagging tagging-label="(new participation)" id="participation" >
                        <ui-select-match placeholder="Seva...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="participation in selects.participation | filter:$select.search">
                          {{participation}}
                        </ui-select-choices>
                      </ui-select>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="skills">Skills</label>
                    <div class="col-xs-10">
                       <ui-select multiple ng-model="person.devotee.skills" tagging tagging-label="(new skill)" id="skills">
                        <ui-select-match placeholder="Data Capture...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="skill in selects.skills | filter:$select.search">
                          {{skill}}
                        </ui-select-choices>
                      </ui-select>
                       
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="courses">Courses</label>
                    <div class="col-xs-10">
                       <ui-select multiple ng-model="person.devotee.courses" tagging tagging-label="(new Course)" id="courses">
                        <ui-select-match placeholder="Bhakti Seminar...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="course in selects.courses | filter:$select.search">
                          {{course}}
                        </ui-select-choices>
                      </ui-select>

                       
                    </div>
                </div>

                <div class="form-group">
                        <label class="control-label col-xs-2" for="guru">Guru</label>
                        <div class="col-xs-10">
                             <ui-select ng-model="person.devotee.guru" reset-search-input="false" id="guru">
                                <ui-select-match placeholder="Select Guru...">{{$select.selected.displayName}}</ui-select-match>
                                <ui-select-choices repeat="guru._id as guru in gurus | filter: $select.search" ng-init="findGurus()">
                                <div ng-bind-html="guru.displayName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            
                           
                        </div>
                    </div>

            </fieldset>
            </accordion-group>
            <accordion-group heading="Resident" id="resident">
                <fieldset>
                     <div class="form-group">
                        <label class="control-label col-xs-2" for="nextOfKin">Next Of Kin</label>
                        <div class="col-xs-10">
                            <ui-select ng-model="person.resident.nextOfKin" reset-search-input="false" id="nextOfKin">
                                <ui-select-match placeholder="Select person...">{{$select.selected.displayName}}</ui-select-match>
                                <ui-select-choices repeat="person._id as person in people | filter: $select.search" ng-init="find()">
                                <div ng-bind-html="person.displayName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            
                        </div>
                    </div>
                

                <div class="form-group" ng-class="{ 'has-error' : form.idNum.$invalid}">
                    <label class="control-label col-xs-2" for="idNum">ID Number/Passport</label>
                    <div class="col-xs-10">
                       <input type="text" name="idNum" data-ng-model="person.resident.idOrPass" id="idNum" class="form-control" placeholder="200001013214567" ng-pattern="/^.{6,13}$|\A\Z/" >
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': form.dateMovedIn.$invalid }">
                    <label class="control-label col-xs-2" for="dateMovedIn">Date Moved In</label>
                    <div class="col-xs-10">
                        <p class="input-group">
                            <input type="text" name="dateMovedIn" id="dateMovedIn" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="person.resident.dateMovedIn" is-open="datePickers.dateMovedIn.open" min-date="'2000-01-01'" max-date="datePickers.dateMovedIn.maxDate"  placeholder="dd/MM/yyyy" datepicker-append-to-body="true" bs-datefield="DD/MM/YYYY" bs-date-pattern="{{datePickers.regex.toString()}}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDate($event,'dateMovedIn')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="medica1">Medical Conditions</label>
                    <div class="col-xs-10">
                       <ui-select multiple ng-model="person.resident.medicalConditions" tagging tagging-label="new Condition" id="medicalConditions">
                        <ui-select-match placeholder="Hard heart...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="condition in selects.medicalConditions | filter:$select.search">
                          {{condition}}
                        </ui-select-choices>
                      </ui-select>
                    </div>
                </div>
                </fieldset>
            </accordion-group>