
<section data-ng-controller="PeopleController" >
    <div class="page-header">
        <h1>New Person</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>
    

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate name="form" id="frm">
            <accordion close-others="oneAtATime">
                <div ng-include src="'modules/people/views/common-person.client.view.html'" ></div>
                <accordion-group heading="Comment" id="comments"><fieldset>
                    
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="comment">Comment</label>
                        <div class="col-xs-10">
                           <input type="text" data-ng-model="comment.comment" id="comment" class="form-control" placeholder="Mahatma" >
                        </div>
                    </div>

                </fieldset></accordion-group>
        </accordion>

                
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" class="btn btn-default" ng-disabled="form.$invalid" value="Save" id="save"/>
            </div>
        </div>
				

        </form>
    </div>
</section>