        <div class="modal-header">
            <h3 class="modal-title">Comment</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="comment">Comment</label>
                    <div class="col-xs-10">
                       <input type="text" data-ng-model="comment.comment" id="comment" class="form-control" placeholder="Mahatma" >
                    </div>
                </div>
            </fieldset>
            
        </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveComment()" id="saveModal">Save</button>
            <button class="btn btn-warning" ng-click="cancelComment()">Cancel</button>
        </div>
