<section data-ng-controller="PeopleController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Person</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate name="form" id="form">
            <accordion close-others="oneAtATime">
            <div ng-include src="'modules/people/views/common-person.client.view.html'" ></div> 
            <accordion-group heading="Comments" id="comments"><fieldset>
                <div class="commentGridStyle" ui-grid="grid.comment" ui-grid-selection id="commentGrid" external-scopes="commentGrdScp"></div>
                
                     <button class="btn btn-default" id="create" ng-click="openComment($event)"><i class="glyphicon glyphicon-plus"></i></button>
                
        </fieldset></accordion-group>
        </accordion>

                
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input type="submit" class="btn btn-default" value="Save"  id="save" ></input>
                
            </div>
        </div>
                

        </form>

        

    </div>