<section data-ng-controller="PeopleController" data-ng-init="find()">
    <div class="page-header">
        <h1>People</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>
    <div id="peopleGrid" ui-grid="grid.list"  ui-grid-selection external-scopes="peopleGrdScp"></div>


    <!--<div class="list-group">
        <a data-ng-repeat="person in people" data-ng-href="{{home}}people/{{person._id}}/edit" class="list-group-item">
			
			<h4 class="list-group-item-heading">{{person.name.firstName}} {{person.name.lastName}}</h4>
        </a>
    </div> -->
    <div class="alert alert-warning text-center" data-ng-hide="!people.$resolved || people.length">
    	No People yet, why don't you <a href="{{home}}people/create">create one</a>?
    </div>
</section>