<section data-ng-controller="PeopleController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{person.name.firstName}} {{person.name.lastName}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == person.user._id">
		<a class="btn btn-primary" href="/#!/people/{{person._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="person.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="person.user.displayName"></span>
		</em>
	</small>
</section>