


.alert ul { margin: 10px 20px; }
.alert ul li { margin: 0; }

.commentGridStyle {
    border: 1px solid rgb(212,212,212);
    /*width: 100% !important;*/
    height: 200px;
}

.ngViewport.ng-scope {
height: 100% !important;
}