<div class="form-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
        <input type="text" data-ng-model="temple.name" id="name" class="form-control" placeholder="Name" required>
        
    </div>
</div>
<div class="form-group" >
            <label class="control-label" for="line1">Address</label>
            <input type="text" data-ng-model="temple.address.line1" id="line1" class="form-control" placeholder="Address" >
            <input type="text" data-ng-model="temple.address.line2" id="line2" class="form-control" placeholder="" >
            <input type="text" data-ng-model="temple.address.line3" id="line3" class="form-control" placeholder="" >
</div>
<div class="form-group">
    <label class="control-label" for="pathname">Pathname</label>
    <div class="controls">
        <input type="text" data-ng-model="temple.pathname" id="pathname" class="form-control" placeholder="simple lowercase one word name" required>
        
    </div>
</div>