<section data-ng-controller="TemplesController">
    <div class="page-header">
        <h1>New Temple</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>
    
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div ng-include src="'modules/temples/views/common-temple.client.view.html'"></div>
                

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Save">
                </div>
				
            </fieldset>
        </form>
    </div>
</section>