<section data-ng-controller="TemplesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Temple</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
               <div ng-include src="'modules/temples/views/common-temple.client.view.html'"></div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default">
                </div>
				
            </fieldset>
        </form>
    </div>
</section>