<section data-ng-controller="TemplesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Temples</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>
    <div class="list-group">
        <a data-ng-repeat="temple in temples"  class="list-group-item clearfix">
			<span class="h3" data-ng-bind="temple.name"></span>
			<button class="btn btn-primary pull-right" ng-click="removeConfirm(temple)">
                    <span class="glyphicon glyphicon-trash"></span>
        </button> 
        <button class="btn btn-primary pull-right"  go-click="{{home}}temples/{{temple._id}}">
                    <span class="glyphicon glyphicon-edit"></span>
        </button> 
            

        </a>
    </div>

    

    <div class="alert alert-warning text-center" data-ng-hide="!temples.$resolved || temples.length">
    	No Temples yet, why don't you <a href="/#!/temples/create">create one</a>?
    </div>
</section>