<section data-ng-controller="TemplesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="temple.name"></h1>
	</div>
	<p class="lead" >
		<h2 class="lead">Address</h2>
		<span data-ng-bind="temple.address.line1"></span>
		<span data-ng-bind="temple.address.line2"></span>
		<span data-ng-bind="temple.address.line3"></span>
	</p>
	<div class="pull-right" data-ng-show="authentication.user._id == temple.user._id">
		<a class="btn btn-primary" href="/#!/temples/{{temple._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="temple.created | date:'mediumDate'"></span>
		</em>
	</small>
	
</section>