    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="text" data-ng-model="crudUser.email" id="email" class="form-control" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" data-ng-model="crudUser.password" id="password" class="form-control" placeholder="Password" required>
            <input type="password" data-ng-model="form.password2" id="password" class="form-control" placeholder="Confirm Password" required>
    </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="roles">Roles </label>
        <div class="controls">
            <div class="btn-group">
                <label class="btn btn-default" ng-model="roles.peopleUser" btn-checkbox>People User</label>
                <label class="btn btn-default" ng-model="roles.peopleAdmin" btn-checkbox>People Admin</label>
                <label class="btn btn-default" ng-model="roles.templeAdmin" btn-checkbox>Temple Admin</label>
                <label data-ng-if="authentication.user.roles.indexOf('systemAdmin') !== -1" class="btn btn-default" ng-model="roles.systemAdmin" btn-checkbox>System Admin</label>
            </div>
        </div>
    </div>
    
    <div ng-if="!form.temple" class="form-group">
        <label class="control-label" for="userTemple">Temple</label>
        <select class="form-control ng-cloak"   data-ng-model="crudUser.temple" id="userTemple" value="{{crudUser.temple._id}}" ng-init="findTemples()">
                <option ng-repeat="temple in temples" value="{{temple._id}}" ng-init="findTemples()">{{temple.name}}</option>
        </select>
    </div>
    <div ng-if="form.temple" class="form-group">
        <label class="control-label" for="person">Person</label>
        <div class="controls">
            <ui-select ng-model="crudUser.person" reset-search-input="false" >
                <ui-select-match placeholder="">{{$select.selected.displayName}}</ui-select-match>
                <ui-select-choices repeat="devotee._id as devotee in devotees" ng-init="findDevotees()">
                <div ng-bind-html="devotee.displayName | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            
        </div>
    </div>