<section data-ng-controller="UsersController" >
    <div id="header" class="page-header">
        <h1>New User</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div ng-include src="'modules/users/views/common-users.client.view.html'"></div>
                


                
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
                
           </fieldset>
       </form>
   </div>
</section>