<section data-ng-controller="UsersController" data-ng-init="find()">
    <div id="header" class="page-header">
        <h1>Users</h1>
    </div>
    <div ng-include src="'modules/core/views/error.client.partial.html'"></div>
    <div class="list-group">
        <a data-ng-repeat="user in users"  class="list-group-item clearfix" >
			<span class="h3" data-ng-bind="user.email"></span>
		      
        
        <button ng-if="authentication.isAuthorized(['systemAdmin','templeAdmin','peopleAdmin'])" id="delete" class="btn btn-primary pull-right" ng-click="removeConfirm(user)">
                    <span class="glyphicon glyphicon-trash"></span>
        </button> 
        <button id="edit" class="btn btn-primary pull-right"  go-click="{{home}}users/{{user._id}}">
                    <span class="glyphicon glyphicon-edit"></span>
        </button> 
        

        
			
		</a>
    </div>
    
</section>

